body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    color: #0077b6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #555;
}

input[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #006A8E;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-bottom: 10px;
}
  
  input[type='submit'] {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type='submit']:hover {
    background-color: #023e8a;
  }
  
  img {
    width: 270px;
    height: 170px;
    object-fit: cover;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 5px solid #fff;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}